<div class="jumbotron">
  <div class = "container-fluid">
    <div class="row">
      <div class="col-sm-12">
        <div class="thumbnail">
          <div class="caption">
            <img class="online-log" src="http://d9hhrg4mnvzow.cloudfront.net/unbouncepages.com/mint-3047/a677e9c8-logo-white-with-shadow_0bk04s0bk04s000000.png" alt="">
          </div>
          <div class="caption">
            <p class="title">行家指路，少走弯路</p>
            <p class="lead"><a class="btn btn-lg btn-danger" href="/products">马上预约</a></p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


<!-- 轮播图位置 -->
<div id="myCarousel" class="carousel slide">
  <!-- 轮播（Carousel）指标 -->
  <ol class="carousel-indicators">
    <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
    <li data-target="#myCarousel" data-slide-to="1"></li>
    <li data-target="#myCarousel" data-slide-to="2"></li>
  </ol>
  <!-- 轮播（Carousel）项目 -->
  <div class="carousel-inner">
    <div class="item active">
      <img src="http://ww3.sinaimg.cn/large/006tKfTcly1ffl6btzvewj31hc0zkgul.jpg" alt="First slide">
    </div>
    <div class="item">
      <img src="http://ww1.sinaimg.cn/large/006tKfTcly1ffl6bsjt06j31hc0zk4ca.jpg" alt="Second slide">
    </div>
    <div class="item">
      <img src="http://ww4.sinaimg.cn/large/006tKfTcly1ffl6btb7dhj31hc0zk7gr.jpg" alt="Third slide">
    </div>
  </div>
  <!-- 轮播（Carousel）导航 -->
  <a class="carousel-control left" href="#myCarousel"
                                   data-slide="prev"></a>
  <a class="carousel-control right" href="#myCarousel"
                                    data-slide="next"></a>
</div>
<!-- ********************大咖在线******************** -->
<section id="celebrity-online">
  <div class = "container-fluid">
    <div class="row">
      <div class="col-sm-12">
        <div class="thumbnail">
          <div class="caption">
            <img class="online-log" src="http://d9hhrg4mnvzow.cloudfront.net/unbouncepages.com/mint-3047/1a1a3105-mint-template-speakericon.png" alt="">
          </div>
          <div class="caption">

            <h1>大咖在线</h1>
            <p>精选各行业大咖，全方位解决你的成长难题</p>
          </div>
        </div>
      </div>
    </div>
      <div class="row">
    <!--
       -<% @products.each do |product|%>
       -    <div class="col-sm-3">
       -      <div class="welcome-product-pic">
       -          <%= link_to product_path(product) do %>
       -            <% if product.image.present? %>
       -              <%= image_tag(product.image.thumb.url) %>
       -            <% else %>
       -              <%= image_tag("http://placehold.it/200x200&text=No Pic") %>
       -            <% end %>
       -          <% end %>
       -        <div class="welcome-product-text">
       -          <p><%= product.experttitle %></p>
       -          <p><span>@<span><%= product.expertname %></p>
       -        </div>
       -      </div>
       -    </div>
       -  <% end %>
       -->
          <div class="col-sm-3">
        <div class="thumbnail">
          <div class="caption">
            <img src="http://d9hhrg4mnvzow.cloudfront.net/unbouncepages.com/mint-3047/5e519c44-_06406406405k00000a.jpg" alt="">
          </div>
          <div class="caption">

            <p>前新东方名师，终身学习者，天使投资人，比特币亿万富翁。</p>
            <p>@李笑来</p>
          </div>
        </div>
      </div>
      <div class="col-sm-3">
        <div class="thumbnail">
          <div class="caption">
            <img src="http://d9hhrg4mnvzow.cloudfront.net/unbouncepages.com/mint-3047/7acfca55-_06406406405k00000a.jpg" alt="">
          </div>
          <div class="caption">

            <p>自媒体视频脱口秀《罗辑思维》主讲人，得到App创始人。</p>
            <p>@罗振宇</p>
          </div>
        </div>
      </div>
      <div class="col-sm-3 ">
        <div class="thumbnail">
          <div class="caption">
            <img src="http://d9hhrg4mnvzow.cloudfront.net/unbouncepages.com/mint-3047/5352aa14-_06406406405k00000a.png" alt="">
          </div>
          <div class="caption">

            <p>前新东方名师，锤子科技创始人，中国最会演讲的人之一。</p>
            <p>@罗永浩</p>
          </div>
        </div>
      </div>
      <div class="col-sm-3 ">
        <div class="thumbnail">
          <div class="caption">
            <img src="http://d9hhrg4mnvzow.cloudfront.net/unbouncepages.com/mint-3047/63a681dc-_06406406405k00000a.jpg" alt="">
          </div>
          <div class="caption">

            <p>前物理学家，现科学作家，罗辑思维视频节目策划人。</p>
            <p>@万维钢</p>
          </div>
        </div>
      </div>
      </div>
      <div class="row">
        <div class="col-sm-3">
          <div class="thumbnail">
            <div class="caption">
              <img src="http://d9hhrg4mnvzow.cloudfront.net/unbouncepages.com/mint-3047/81eca44d-_06406406405k00000a.jpg" alt="">
            </div>
            <div class="caption">

              <p>计算机科学家，硅谷投资人，《浪潮之巅》《文明之光》作者</p>
              <p>@吴军</p>
            </div>
          </div>
        </div>
        <div class="col-sm-3">
          <div class="thumbnail">
            <div class="caption">
              <img src="http://d9hhrg4mnvzow.cloudfront.net/unbouncepages.com/mint-3047/6516161a-_06y05k06405k00f000.jpg" alt="">
            </div>
            <div class="caption">

              <p>前《时尚先生》主编，中国最好的商业记者之一。</p>
              <p>@李翔</p>
            </div>
          </div>
        </div>
        <div class="col-sm-3 ">
          <div class="thumbnail">
            <div class="caption">
              <img src="http://d9hhrg4mnvzow.cloudfront.net/unbouncepages.com/mint-3047/4674a673-_06406406405k00000a.jpg" alt="">
            </div>
            <div class="caption">

              <p>前微软公司战略合作总监，润米咨询CEO，最贵的商业顾问之一</p>
              <p>@刘润</p>
            </div>
          </div>
        </div>
        <div class="col-sm-3 ">
          <div class="thumbnail">
            <div class="caption">
              <img src="http://d9hhrg4mnvzow.cloudfront.net/unbouncepages.com/mint-3047/cd71c086-_06406406405k00000a.png" alt="">
            </div>
            <div class="caption">

              <p>著名生涯规划师，高管教练，新精英生涯创始人。</p>
              <p>@古典</p>
            </div>
          </div>
        </div>
      </div>
  </div>
</section>
<!-- ********************三个老外的评语******************** -->
<section id="company">
  <div class = "container-fluid">
    <div class="row welcome-bg tc">
      <img src="http://olt6cko37.bkt.clouddn.com/20170522149542106438470.png" width="50px;" alt="">
      <h1 class="tc col-white">用户心声</h1>
      <div class="col-sm-4">

        <div class="thumbnail">
          <div class="caption f20">
            <p class="col-white">以前我总是迷茫，不知道人生的方向改如何选择，自从在「见行」上约了专家，瞬间思路清晰了很多！</p>
          </div>
          <div class="caption">
            <img src="http://d9hhrg4mnvzow.cloudfront.net/unbouncepages.com/mint-3047/0b4c14d0-mint-template-testimonial1_07904u03u03u02c000.jpg" alt="">
          </div>

        </div>
      </div>
      <div class="col-sm-4 ">
        <div class="thumbnail">
          <div class="caption f20">
            <p class="col-white">只要几百块钱，就能让超级大牛给你私人辅导，简直超值有没有，见完之后，持续行动，不断成长！</p>
          </div>
          <div class="caption">
            <img src="http://d9hhrg4mnvzow.cloudfront.net/unbouncepages.com/mint-3047/6db7b8b2-mint-template-testimonial2_05r03u03u03u000000.jpg" alt="">
          </div>

        </div>
      </div>
      <div class="col-sm-4 ">
        <div class="thumbnail">
          <div class="caption f20">
            <p class="col-white">导师一点架子都没有，不但帮我解决了成长上的难题，还给我巨大的鼓励，真的是捡到大宝箱了！</p>
          </div>
          <div class="caption">
            <img src="http://d9hhrg4mnvzow.cloudfront.net/unbouncepages.com/mint-3047/46000487-mint-template-testimonial3_09x06u03u03u01b004.jpg" alt="">
          </div>

        </div>
      </div>
    </div>
  </div>
</section>
<!-- ********************我们只和最优秀的知识品牌合作******************** -->
<section id="brand-cooperation">
  <div class = "container-fluid">
    <div class="row">
      <div class="col-sm-12">
        <div class="thumbnail">
          <div class="caption">
            <img class="online-log" src="http://d9hhrg4mnvzow.cloudfront.net/unbouncepages.com/mint-3047/11ad6f56-mint-template-icons-02_01m01m01m01m000000.png" alt="">
          </div>
          <div class="caption">
            <h2>我们只和最优秀的</h2>
            <h2>知识品牌合作</h2>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-3">
        <div class="thumbnail">
          <div class="caption">
            <img class="sanjieke" src="http://d9hhrg4mnvzow.cloudfront.net/unbouncepages.com/mint-3047/8af75442-_03r02d03q02d000000.png" alt="">
          </div>
        </div>
      </div>
      <div class="col-sm-3">
        <div class="thumbnail">
          <div class="caption">
            <img class="wangyi" src="http://d9hhrg4mnvzow.cloudfront.net/unbouncepages.com/mint-3047/7c7959ce-_07p02607p026000000.png" alt="">
          </div>
        </div>
      </div>
      <div class="col-sm-3 ">
        <div class="thumbnail">
          <div class="caption">
            <img class="luoji" src="http://d9hhrg4mnvzow.cloudfront.net/unbouncepages.com/mint-3047/38c0de19-_047039047039000000.png" alt="">
          </div>
        </div>
      </div>
      <div class="col-sm-3 ">
        <div class="thumbnail">
          <div class="caption">
            <img class="dedao" src="http://d9hhrg4mnvzow.cloudfront.net/unbouncepages.com/mint-3047/3fe1fd67-_02h02g02h02g000000.png" alt="">
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- ********************预约火爆，机会不多******************** -->
<section id="make-appointment">
  <div class = "container-fluid">
    <div class="row">
      <div class="col-sm-12">
        <div class="thumbnail">
          <div class="caption">
            <img class="online-log" src="http://d9hhrg4mnvzow.cloudfront.net/unbouncepages.com/mint-3047/f1bb3626-hot_025025025025000000.png" alt="">
          </div>
          <div class="caption">
            <h2>预约火爆，机会不多</h2>
            <span>成长机会有限，先到先得，立即抢先成长！</span>
            <p><a class="btn btn-lg btn-danger" href="/products">立刻约见</a></p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
