<div class="row wrapper-12">
  <!-- 轮播图位置 -->
  <section id="myCarousel" class="carousel slide">
    <!-- 轮播（Carousel）指标 -->
    <ol class="carousel-indicators">
      <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
      <li data-target="#myCarousel" data-slide-to="1"></li>
      <li data-target="#myCarousel" data-slide-to="2"></li>
    </ol>
    <!-- 轮播（Carousel）项目 -->
    <div class="carousel-inner" >
      <div class="item active">
        <img src="http://olt6cko37.bkt.clouddn.com/20170529149603969495324.jpg" alt="First slide">
      </div>
      <div class="item" >
        <img src="http://olt6cko37.bkt.clouddn.com/20170529149603992128550.jpg" alt="Second slide">
      </div>
        <div class="item" >
          <img src="http://olt6cko37.bkt.clouddn.com/20170529149604040058450.jpg" alt="Third slide">
        </div>
    </div>
    <!--
      -[> 轮播（carousel）导航 <]
      -<a class="carousel-control left" href="#mycarousel"
      -                                 data-slide="prev"></a>
      -<a class="carousel-control right" href="#mycarousel"
      -                                  data-slide="next"></a>
    -->
  </section>
  <section class="mt30">
    <div>
      <h2 class="welcome-h2-text">头 条</h2>
    </div>
    <% @articles.each do |article| %>
      <div class="container">
        <div class="row">
          <div class="col-md-4">
            <div class="gallery">
              <div class="welcome-article-img">
                <%= link_to article_path(article) do %>
                  <% if article.image.present? %>
                    <%= image_tag(article.image.medium.url) %>
                  <% else %>
                    <%= image_tag("http://placehold.it/400x400&text=No Pic") %>
                  <% end %>
                <% end %>
              </div>
              <div class="desc"><%= article.title %></div>
              <div class="row">
                <div class="col-md-7 pb20">
                  <div>
                    <% if article.user.selfie.present? %>
                      <%= image_tag(article.user.selfie.mini.url,class:"welcome-user-image") %>
                    <% else %>
                      <%= image_tag("http://img.qq745.com/uploads/allimg/160430/1-160430203151.jpg", class:"welcome-user-image") %>
                    <% end %>
                    <span class="pl10"><%= article.user.user_name %></span>
                    <span class="pl10"><%= article.updated_at.strftime("%Y/%m/%d")%></span>
                  </div>
                </div>
                <div class="col-md-4 col-md-offset-1 f16">
                  <%= link_to(content_tag(:i,"",class:'fa fa-comments-o'),"#") %> <span>3</span>
                  <%= link_to(content_tag(:i,"",class:'fa fa-heart-o ml10'),"#") %> <span>5</span>
                </div>
              </div>
            </div>
          </div>
        <% end %>
        </div>
  </section>
  <section class="mt30">
    <div>
      <h2 class="welcome-h2-text">精选</h2>
    </div>
    <div class="row">
      <% @articles.each do |article| %>
        <hr />
        <div class="container mb20">
          <div class="col-md-4">
            <%= link_to article_path(article) do %>
              <% if article.image.present? %>
                <%= image_tag(article.image.thumb.url, class:"welcome-article-small-pic") %>
              <% else %>
                <%= image_tag("http://placehold.it/200x200&text=No Pic", class: "thumbnail") %>
              <% end %>
            <% end %>
          </div>
          <div class="col-md-8">
            <p class="f24"><%= link_to(article.title, article_path(article),class:"welcome-link") %></p>
            <p class="f16 mt30"><%= article.description %></p>
          </div>
        </div>
      <% end %>
      <!--
        -<div class="col-md-3 col-md-offset-1">
        -  <div class="container">
        -  <img src="http://y1.ifengimg.com/haina/2016_02/3cf5fabbbf57b51_w396_h349.jpg" width="200px" alt="临时占位" />
        -  <p>临时占位</p>
        -  </div>
        -  <div class="container">
        -  <img src="http://y1.ifengimg.com/haina/2016_02/3cf5fabbbf57b51_w396_h349.jpg" width="200px" alt="临时占位" />
        -  <p>临时占位</p>
        -  </div>
        -  <div class="container">
        -  <img src="http://y1.ifengimg.com/haina/2016_02/3cf5fabbbf57b51_w396_h349.jpg" width="200px" alt="临时占位" />
        -  <p>临时占位</p>
        -  </div>
        -</div>
      -->
    </div>
  </section>
      </div>
