<div class="row wrapper-12">
  <!-- 轮播图位置 -->
  <section id="myCarousel" class="carousel slide">
    <!-- 轮播（Carousel）指标 -->
    <ol class="carousel-indicators">
      <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
      <li data-target="#myCarousel" data-slide-to="1"></li>
      <li data-target="#myCarousel" data-slide-to="2"></li>
    </ol>
    <!-- 轮播（Carousel）项目 -->
    <div class="carousel-inner" >
      <div class="item active">
        <img src="http://olt6cko37.bkt.clouddn.com/20170529149603969495324.jpg" alt="First slide">
      </div>
      <div class="item" >
        <img src="http://olt6cko37.bkt.clouddn.com/20170529149603992128550.jpg" alt="Second slide">
      </div>
        <div class="item" >
          <img src="http://olt6cko37.bkt.clouddn.com/20170529149604040058450.jpg" alt="Third slide">
        </div>
    </div>
    <!--
      -[> 轮播（carousel）导航 <]
      -<a class="carousel-control left" href="#mycarousel"
      -                                 data-slide="prev"></a>
      -<a class="carousel-control right" href="#mycarousel"
      -                                  data-slide="next"></a>
    -->
  </section>
  <section class="mt30">
    <div>
      <h2 class="welcome-h2-text">精 选</h2>
    </div>

    <% Product.order("created_at DESC").limit(6).each do |product| %>
      <div class="container">
        <div class="row">
          <div class="col-md-4">
            <div class="gallery">
              <div class="welcome-product-img">
                <%= link_to product_path(product) do %>
                  <% if product.image.present? %>

                    <%= image_tag(product.image.medium.url) %>


                  <% else %>
                    <%= image_tag("http://ww2.sinaimg.cn/large/006tKfTcgy1fg4mkw5fqdj30el09qt9e.jpg")%>

                  <% end %>
                <% end %>
              </div>
              <div class="desc"><%= product.title %></div>
              <div class="row">
                <div class="col-md-7 pb20">
                  <div>
                    <% if product.user.selfie.present? %>
                      <%= image_tag(product.user.selfie.mini.url,class:"welcome-user-image") %>
                    <% else %>
                      <%= image_tag("http://img.qq745.com/uploads/allimg/160430/1-160430203151.jpg", class:"welcome-user-image") %>
                    <% end %>
                    <span class="pl10"><%= product.user.user_name %></span>
                    <span class="pl10"><%= product.updated_at.strftime("%Y/%m/%d")%></span>
                  </div>
                </div>
                <div class="col-md-4 col-md-offset-1 f16">
                  <%= link_to(content_tag(:i,"",class:'fa fa-comments-o'),"#") %> <span><%=product.comments.count%></span>
                  <%= link_to(content_tag(:i,"",class:'fa fa-heart-o ml10'),"#") %> <span><%=product.goods_voters.count%></span>
                </div>
              </div>
            </div>
          </div>
        <% end %>
        </div>
  </section>
  <section class="mt30">
    <div>
      <h2 class="welcome-h2-text">最 新</h2>
    </div>
    <div class="row">
      <% @datas.each do |product|%>
        <hr />
        <div class="container mb20">
          <div class="col-md-4 welcome-product">
            <%= link_to product_path(product) do %>
              <% if product.image.present? %>
                <%= image_tag(product.image.thumb.url, class:"welcome-product-small-pic") %>
              <% else %>
              <%= image_tag("http://ww2.sinaimg.cn/large/006tKfTcgy1fg4mkw5fqdj30el09qt9e.jpg",class:"welcome-product-small-pic") %>
                <!-- <%#= image_tag("http://olt6cko37.bkt.clouddn.com/20170601149630472191786.jpg") %> -->
              <% end %>
            <% end %>
          </div>
          <div class="col-md-8">
            <p class="f24"><%= link_to(product.title, product_path(product),class:"welcome-link") %></p>
            <div class="f16 mt30 "><%= markdown(product.post.first(80)+"...")%></div>
            <div class="col-md-6 pb20 mt30 ml-30">
              <div>
                <% if product.user.selfie.present? %>
                  <%= image_tag(product.user.selfie.mini.url,class:"welcome-user-image") %>
                <% else %>
                  <%= image_tag("http://img.qq745.com/uploads/allimg/160430/1-160430203151.jpg", class:"welcome-user-image") %>
                <% end %>
                <span class="pl10"><%= product.user.user_name %></span>
                <span class="pl10"><%= product.updated_at.strftime("%Y/%m/%d")%></span>
              </div>
            </div>
            <!--
               -<div class="col-md-4 col-md-offset-1 f16 mt30">
               -  <%= link_to(content_tag(:i,"",class:'fa fa-comments-o'),"#") %> <span><%=product.comments.count%></span>
               -  <%= link_to(content_tag(:i,"",class:'fa fa-heart-o ml10'),"#") %> <span><%=product.goods_voters.count%></span>
               -</div>
               -->

          </div>
        </div>
      <% end %>
      <!--
        -<div class="col-md-3 col-md-offset-1">
        -  <div class="container">
        -  <img src="http://y1.ifengimg.com/haina/2016_02/3cf5fabbbf57b51_w396_h349.jpg" width="200px" alt="临时占位" />
        -  <p>临时占位</p>
        -  </div>
        -  <div class="container">
        -  <img src="http://y1.ifengimg.com/haina/2016_02/3cf5fabbbf57b51_w396_h349.jpg" width="200px" alt="临时占位" />
        -  <p>临时占位</p>
        -  </div>
        -  <div class="container">
        -  <img src="http://y1.ifengimg.com/haina/2016_02/3cf5fabbbf57b51_w396_h349.jpg" width="200px" alt="临时占位" />
        -  <p>临时占位</p>
        -  </div>
        -</div>
      -->
    </div>
    <div class="row">
    <div class="search-data" style="text-align:center;">

      <%= will_paginate @datas, renderer: BootstrapPagination::Rails %>
    </div>
    </div>
  </section>
      </div>
