<div class="row wrapper-12">
  <!-- 轮播图位置 -->
  <section id="myCarousel" class="carousel slide">
    <!-- 轮播（Carousel）指标 -->
    <ol class="carousel-indicators">
      <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
      <li data-target="#myCarousel" data-slide-to="1"></li>
      <li data-target="#myCarousel" data-slide-to="2"></li>
    </ol>
    <!-- 轮播（Carousel）项目 -->
    <div class="carousel-inner" >
      <div class="item active">
        <img src="http://olt6cko37.bkt.clouddn.com/20170529149603969495324.jpg" alt="First slide">
      </div>
      <div class="item" >
        <img src="http://olt6cko37.bkt.clouddn.com/20170529149603992128550.jpg" alt="Second slide">
      </div>
      <div class="item" >
        <img src="http://olt6cko37.bkt.clouddn.com/20170529149604040058450.jpg" alt="Third slide">
       </div>
    </div>
    <!--
       -[> 轮播（Carousel）导航 <]
       -<a class="carousel-control left" href="#myCarousel"
       -                                 data-slide="prev"></a>
       -<a class="carousel-control right" href="#myCarousel"
       -                                  data-slide="next"></a>
       -->
  </section>
  <section>
    <div>
      <h1>头条</h1>
    </div>
    <% @products.each do |product| %>
      <div class="col-md-4 tc">
        <div class="gallery">
          <%= link_to product_path(product) do %>
            <% if product.image.present? %>
              <%= image_tag(product.image.medium.url) %>
            <% else %>
              <%= image_tag("http://placehold.it/400x400&text=No Pic", class: "thumbnail") %>
            <% end %>
          <% end %>
          <div class="desc"><%= product.title %></div>
        </div>
      </div>
    <% end %>
  </section>
  <section>
    <div>
      <h1>精选</h1>
    </div>
    <div class="row">
      <% @products.each do |product| %>
        <hr />
        <div class="container mb20">
          <div class="col-md-4">
            <%= link_to product_path(product) do %>
              <% if product.image.present? %>
                <%= image_tag(product.image.thumb.url, class:"welcome-article-small-pic") %>
              <% else %>
                <%= image_tag("http://placehold.it/200x200&text=No Pic", class: "thumbnail") %>
              <% end %>
            <% end %>
          </div>
          <div class="col-md-8">
            <p class="f20"><%= product.title %></p>
            <p class="f16 mt150"><%= product.description %></p>
          </div>
        </div>
      <% end %>
      <!--
        -<div class="col-md-3 col-md-offset-1">
        -  <div class="container">
        -  <img src="http://y1.ifengimg.com/haina/2016_02/3cf5fabbbf57b51_w396_h349.jpg" width="200px" alt="临时占位" />
        -  <p>临时占位</p>
        -  </div>
        -  <div class="container">
        -  <img src="http://y1.ifengimg.com/haina/2016_02/3cf5fabbbf57b51_w396_h349.jpg" width="200px" alt="临时占位" />
        -  <p>临时占位</p>
        -  </div>
        -  <div class="container">
        -  <img src="http://y1.ifengimg.com/haina/2016_02/3cf5fabbbf57b51_w396_h349.jpg" width="200px" alt="临时占位" />
        -  <p>临时占位</p>
        -  </div>
        -</div>
      -->
    </div>
  </section>
</div>
