<div class="row wrapper-12">
  <!-- 轮播图位置 -->
  <section id="myCarousel" class="carousel slide">
    <!-- 轮播（Carousel）指标 -->
    <ol class="carousel-indicators">
      <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
      <li data-target="#myCarousel" data-slide-to="1"></li>
      <li data-target="#myCarousel" data-slide-to="2"></li>
    </ol>
    <!-- 轮播（Carousel）项目 -->
    <div class="carousel-inner" >
      <div class="item active">
        <img src="http://olt6cko37.bkt.clouddn.com/20170529149603969495324.jpg" alt="First slide">
      </div>
      <div class="item" >
        <img src="http://olt6cko37.bkt.clouddn.com/20170529149603992128550.jpg" alt="Second slide">
      </div>
        <div class="item" >
          <img src="http://olt6cko37.bkt.clouddn.com/20170529149604040058450.jpg" alt="Third slide">
        </div>
    </div>
    <!--
      -[> 轮播（carousel）导航 <]
      -<a class="carousel-control left" href="#mycarousel"
      -                                 data-slide="prev"></a>
      -<a class="carousel-control right" href="#mycarousel"
      -                                  data-slide="next"></a>
    -->
  </section>
  <section class="row">
    <div>
      <h2 class="welcome-h2-text">头 条</h2>
    </div>
    <% @articles.each do |article| %>
      <div class="col-md-4 pl10">
        <div class="gallery">
          <div class="welcome-article-img">
            <%= link_to article_path(article) do %>
              <% if article.image.present? %>
                <%= image_tag(article.image.medium.url) %>
              <% else %>
                <%= image_tag("http://placehold.it/400x400&text=No Pic", class: "thumbnail") %>
              <% end %>
            <% end %>
          </div>
          <div class="desc"><%= article.title %></div>
          <div class="col-md-7 pb20">
            <img class="welcome-user-image" src="http://olt6cko37.bkt.clouddn.com/2017052414956209856562.jpg" />
            <span class="name pl10">Kelly</span>
            <span class="time pl10">2017/05/27</span>
          </div>
          <div class="col-md-4 col-md-offset-1 f16">
            <%= content_tag(:i,"",class:'fa fa-comments-o col-grey') %> <span>3</span>
            <%= link_to(content_tag(:i,"",class:'fa fa-heart-o col-grey ml10'),"#") %> <span>5</span>
          </div>
        </div>
      </div>
    <% end %>
  </section>
  <section class="row mt30">
    <div>
      <h2 class="pl20">精选</h2>
    </div>
    <div class="row">
      <% @articles.each do |article| %>
        <hr />
        <div class="container mb20">
          <div class="col-md-4">
            <%= link_to article_path(article) do %>
              <% if article.image.present? %>
                <%= image_tag(article.image.thumb.url, class:"welcome-article-small-pic") %>
              <% else %>
                <%= image_tag("http://placehold.it/200x200&text=No Pic", class: "thumbnail") %>
              <% end %>
            <% end %>
          </div>
          <div class="col-md-8">
            <p class="f24"><%= article.title %></p>
            <p class="f16 mt30"><%= article.description %></p>
          </div>
        </div>
      <% end %>
      <!--
        -<div class="col-md-3 col-md-offset-1">
        -  <div class="container">
        -  <img src="http://y1.ifengimg.com/haina/2016_02/3cf5fabbbf57b51_w396_h349.jpg" width="200px" alt="临时占位" />
        -  <p>临时占位</p>
        -  </div>
        -  <div class="container">
        -  <img src="http://y1.ifengimg.com/haina/2016_02/3cf5fabbbf57b51_w396_h349.jpg" width="200px" alt="临时占位" />
        -  <p>临时占位</p>
        -  </div>
        -  <div class="container">
        -  <img src="http://y1.ifengimg.com/haina/2016_02/3cf5fabbbf57b51_w396_h349.jpg" width="200px" alt="临时占位" />
        -  <p>临时占位</p>
        -  </div>
        -</div>
      -->
    </div>
  </section>
</div>
