
<!-- <div class="row"> -->
<!-- <div class="container container-top"> -->
<div class="cover">
<div class="cover-image" style="background-image : url(//media.zaih.com/FlU5aiJm5LJtNXQkOcbxBU0K2itL!preface)"></div>
</div>

<div class="tutor-full">
    <div class="column">
        <div class="tutor-full-main" id="tutorInfo">
            <span class="tutor-avatar tutorAvatar">
                <img src="//media.zaih.com/Fj1bYFRavXFgU_OYvb3s7LbmJM9k!avatar" alt="任良">
            </span>
            <div class="tutor-info" data-mlink="action=view_tutor&amp;tutorId=85105378">
                 <h1 class="tutor-name" data-tutor_id="85105378">任良</h1>
                 <p class="tutor-title" id="tutorTitle">可口可乐市场总监，比如世界总经理</p>
                 <ul class="tutor-detail tutorDetail">
                    <li class="detail">
                        <span class="icon icon-clock-solid"></span>

                        <span class="highlight">半天</span>内回应

                    </li>
                    <li class="detail"><span class="icon icon-meet"></span>
                        <span class="highlight">16</span>人见过
                    </li>
    
                    <li class="detail detail-more"><span class="icon icon-heart"></span>

                        <span class="highlight">126</span>人想见

                    </li>


                    <li class="detail detail-more"><span class="highlight">高</span>接受率</li>

                    <li><span class="icon icon-go btn-folding foldingBtn"></span></li>

                </ul>
                <p class="tutor-title">
                    <span class="city">北京</span>
                    <span class="location">不限</span>
                </p>
            </div>
        </div>
    </div>
</div>

<!-- </div> -->
<!-- </div> -->



<div class="row">
  <div class="col-md-6">
    <% if @product.image.present? %>
      <%= image_tag(@product.image.medium.url, class:"thumbnial") %>
    <% else %>
      <%= image_tag("http://placehold.it/200x200&text=No Pic",class:"thumbnail") %>
    <% end %>
  </div>
  <div class="col-md-6">
    <h2><%= @product.title %></h2>
    <div style="height:100px;">
      <p>
      <%= @product.description %>
      </p>
    </div>
    <div>数量：<%= @product.quantity %></div>
    <div class="product-price">￥<%= @product.price %></div>
    <div class="pull-right">
      <% if @product.quantity.present? && @product.quantity > 0 %>
        <%= link_to("加入购物车",add_to_cart_product_path(@product),method: :post, class:"btn btn-primary btn-lg btn-danger") %>
      <% else %>
        已销售一空，无法购买
      <% end %>
    </div>
    <div class="pull-right">
      <% if current_user && current_user.is_collector_of?(@product)%>
      <%= link_to("取消收藏",remove_product_path(@product),method: :post, class:"btn btn-danger btn-sm",style:"margin-right:20px;")%>

      <% else %>
      <%= link_to("加入收藏",collect_product_path(@product),method: :post, class:"btn btn-success btn-sm ",style:"margin-right:20px;")%>
      <% end %>
    </div>

     <br />
    <div class="upvote">
      <%= link_to upvote_product_path(@product), method: :post do %>
      <div class="pi-thumbs-up">
      赞: <i class="fa fa-thumbs-up fa-lg" , style="color:#ff5722;"></i>

       <%= @product.goods_voters.count %>
        </div>
       <% end %>
    </div>
    <div class="downvote">
     <%= link_to downvote_product_path(@product), method: :post do %>
     <div class="pi-thumbs-down">
      踩: <i class="fa fa-thumbs-down fa-lg" , style="color:#ff5722;"></i>
      <%= @product.goods_antis.count %>

       </div>
      <% end %>
      </div>

  </div>

  <div class="col-lg-6 col-sm-6">
    <div class="card hovercard">
        <div class="card-background">
            <img class="card-bkimg" alt="" src="http://lorempixel.com/100/100/people/9/">
            <!-- http://lorempixel.com/850/280/people/9/ -->
        </div>
        <div class="useravatar">
            <img alt="" src="http://lorempixel.com/100/100/people/9/">
        </div>
        <div class="card-info"> <span class="card-title">Pamela Anderson</span>

        </div>
    </div>
     <div class="btn-pref btn-group btn-group-justified " >
        <!-- <div class="btn-group" > -->
        <div class="btn-group" style="margin-right:200px;">
            <button id="stars" class="btn btn-primary" href="#tab1" data-toggle="tab"><span class="glyphicon glyphicon-star" ></span>
                <div >Stars</div>
            </button>
    </div>
  <div class="btn-group" >
            <button  id="favorites" class="btn btn-default" href="#tab2" data-toggle="tab"><span class="glyphicon glyphicon-heart" ></span>
                <div >Favorites</div>
            </button>
        </div>

    </div>

     <div class="well">
      <div class="tab-content">
        <div class="tab-pane fade  in active" id="tab1">
          <h3>This is tab 1</h3>
        </div>
        <div class="tab-pane fade  in " id="tab2">
          <h3>This is tab 2</h3>
        </div>

      </div>
    </div>

    </div>


</div>

<div class="users-comments " >

    <% @comments.each do |comment| %>
    <div class="comment"  style="display:block;">
    <%=simple_format(comment.content)%>
    <%= comment.user.email %>
    <%= comment.created_at %>
    <% end %>
    <div class="text-center">
    <%= will_paginate @comments %>
    </div>
  </div>

  <div class="comment-create">

  <%= simple_form_for [@product,@comment] do |f|%>

    <%= f.text_field :content ,input_html: { class: "form-control",style:"border:2px;"}%>

    <%= f.submit "Submit",disable_with: "Submiting...", class: "btn btn-primary"%>
    <% end %>

  </div>
</div>
