<!DOCTYPE html>
<html>
  <head>
    <title>见行</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="row">
      <div style="margin-bottom:55px;">
        <%= render "common/navbar" %>
      </div>
      <%= render "common/flashes" %>
    </div>
    <%= yield %>
    <%= render "common/footer" %>
  </body>
</html>
